*{
  box-sizing: border-box;
}

body {
  margin: 0 !important;
}

.about-container{
  display: flex;
  flex-direction: column;
}

.home-container{
  display: flex;
  min-height: 100vh;
  max-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.graph-container{
  padding: 40px;
  border-bottom: 1px solid white;
  height: 100vh;
  width: 100%;
}

.text-container{
  width: 80%;
  margin:auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.submit-btn{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 25px;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  cursor: pointer;
}

.ttt-img{
  width: 200px;
  margin: 40px;
}

.arrow-img{
  width: 200px;
}
